*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-color: #ffcccb;
}
.navbar{
    padding: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
}
@media(max-width:767px) {
    .ul-bg{
        background-color:coral ;
    }   
}
nav .nav-item a:hover{
    color:greenyellow !important

}
.img{
    background-repeat: no-repeat;
    background-size: auto;
    background-size:100% 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
body, html {
    height: 100%;
    }

.label{
    font-size: 20px;
    font-weight: 400;
}
#header{
    font-size: 45px;
    font-family: Impact, Charcoal, sans-serif;
}
.responsive{
    padding: 5% 30%;
}
@media screen and (max-width: 1200px) {
.responsive {
    padding: 5%;
}
}