
<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <title>Used Car Price Prediction</title>
  </head>
  <body>
    <div class="img" style="background-image: url(static/images/b.jpg);"></div>
    <nav class="navbar navbar-expand-md bg-dark">
      <a href="" class="navbar-brand fs-3 ms-3 text-white">Used Car Price Prediction</a>
    <button class="navbar-toggler me-3 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#btn">
      <i class='bx bx-menu bx-md'></i>
    </button>
    <div class="collapse navbar-collapse ul-bg" id="btn">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{{url_for('home')}}"class="nav-link mx-3 text-white fs-5">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('about')}}" class="nav-link mx-3 text-white fs-5">About</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link mx-3 text-white fs-5">Gallery</a>
          </li>
      </ul>
        
    </div>
  </nav>
<div class="wrapper">
  <!-- filter Items -->
  <!-- <div class="col-lg-7 mx-auto text-center">
    <h6 class="display-1 text-white">Portfilo</h6>
  </div> -->
  <nav>
    <div class="items">
      <span class="item active text-white" data-name="all">All</span>
      <span class="item text-white" data-name="creta">Creta</span>
      <span class="item text-white" data-name="hilux">Hilux</span>
      <span class="item text-white" data-name="toyota">Toyato</span>
      <span class="item text-white" data-name="alto">Alto</span>
      <span class="item text-white" data-name="electrical">Electrical</span>
    </div>
  </nav>
  <!-- filter Images -->
  <div class="gallery">
    <div class="image" data-name="creta"><span><img src="static/images/creta1.jpeg" alt=""></span></div>
    <div class="image" data-name="electrical"><span><img src="static/images/ele4.jpeg" alt=""></span></div>
  
    <div class="image" data-name="toyota"><span><img src="static/images/toyota6.jpeg" alt=""></span></div>
    <div class="image" data-name="hilux"><span><img src="static/images/hilux1.jpeg" alt=""></span></div>
    <div class="image" data-name="alto"><span><img src="static/images/alto2.jpeg" alt=""></span></div>
    <div class="image" data-name="hilux"><span><img src="static/images/hilux6.jpg" alt=""></span></div>
    <div class="image" data-name="creta"><span><img src="static/images/creta2.jpeg" alt=""></span></div>
    <div class="image" data-name="toyota"><span><img src="static/images/toyota2.jpeg" alt=""></span></div>
    <div class="image" data-name="hilux"><span><img src="static/images/hilux3.jpeg" alt=""></span></div>
    
  
    <div class="image" data-name="alto"><span><img src="static/images/alto1.jpeg" alt=""></span></div>
    <div class="image" data-name="hilux"><span><img src="static/images/hilux2.jpeg" alt=""></span></div>
    <div class="image" data-name="alto"><span><img src="static/images/alto6.jpeg" alt=""></span></div>
    <div class="image" data-name="creta"><span><img src="static/images/creta4.jpeg" alt=""></span></div>
    <div class="image" data-name="hilux"><span><img src="static/images/hilux4.jpeg" alt=""></span></div>
    <div class="image" data-name="toyota"><span><img src="static/images/toyota1.jpeg" alt=""></span></div>
  
    <div class="image" data-name="alto"><span><img src="static/images/alto4.jpeg" alt=""></span></div>
    <div class="image" data-name="toyota"><span><img src="static/images/toyota2.jpeg" alt=""></span></div>
    <div class="image" data-name="creta"><span><img src="static/images/creta5.jpeg" alt=""></span></div>
    <div class="image" data-name="electrical"><span><img src="static/images/ele5.jpeg" alt=""></span></div>
  
    
    <div class="image" data-name="alto"><span><img src="static/images/alto7.jpeg" alt=""></span></div>
    <div class="image" data-name="toyota"><span><img src="static/images/toyota4.jpeg" alt=""></span></div>
    <div class="image" data-name="electrical"><span><img src="static/images/ele1.jpeg" alt=""></span></div>
    <div class="image" data-name="alto"><span><img src="static/images/alto5.jpeg" alt=""></span></div>
    <div class="image" data-name="creta"><span><img src="static/images/creta8.jpg" alt=""></span></div>
    <div class="image" data-name="hilux"><span><img src="static/images/hilux7.jpg" alt=""></span></div>
    <div class="image" data-name="creta"><span><img src="static/images/creta7.jpeg" alt=""></span></div>
    <div class="image" data-name="toyota"><span><img src="static/images/toyota5.jpeg" alt=""></span></div>
    <div class="image" data-name="creta"><span><img src="static/images/creta3.jpeg" alt=""></span></div>
    <div class="image" data-name="toyota"><span><img src="static/images/toyota8.jpeg" alt=""></span></div>
    <div class="image" data-name="electrical"><span><img src="static/images/ele2.jpeg" alt=""></span></div>
    <div class="image" data-name="hilux"><span><img src="static/images/hilux6.jpeg" alt=""></span></div>
    <div class="image" data-name="alto"><span><img src="static/images/alto3.jpeg" alt=""></span></div>
    <div class="image" data-name="electrical"><span><img src="static/images/ele3.jpeg" alt=""></span></div>
    <div class="image" data-name="alto"><span><img src="static/images/alto8.jpeg" alt=""></span></div>
    <div class="image" data-name="electrical"><span><img src="static/images/ele8.jpg" alt=""></span></div>
    <div class="image" data-name="creta"><span><img src="static/images/creta6.jpeg" alt=""></span></div>
    <div class="image" data-name="hilux"><span><img src="static/images/hilux8.jpg" alt=""></span></div>
    <div class="image" data-name="electrical"><span><img src="static/images/ele7.jpg" alt=""></span></div>
    <div class="image" data-name="toyota"><span><img src="static/images/toyota7.jpg" alt=""></span></div>
    <div class="image" data-name="electrical"><span><img src="static/images/ele6.jpg" alt=""></span></div>
  </div>
</div>
<!-- fullscreen img preview box -->
<div class="preview-box">
  <div class="details">
    <span class="title">Image Category: <p></p></span>
    <span class="icon fas fa-times"></span>
  </div>
  <div class="image-box"><img src="" alt=""></div>
</div>
<div class="shadow"></div>

<script src="{{ url_for('static',filename='script1.js') }}"></script>

  
  <footer>
    <div class="py-4 bg-dark text-gray-300">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-15 text-center text-md-strat">
            <p class="text-sm text-center text-white mb-md-0">2022@MINIPROJECT-ITS307</p>
          </div>
        </div>
      </div>
    </div>
</footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  </body>
</html>


