
<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}"> -->
    <title>Used Car Price Prediction</title>
  </head>
  <body>
    <div class="img" style="background-image: url(static/images/p.jpg);"></div>
    <nav class="navbar navbar-expand-md bg-dark">
      <a href="" class="navbar-brand fs-3 ms-3 text-white">Used Car Price Prediction</a>
    <button class="navbar-toggler me-3 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#btn">
      <i class='bx bx-menu bx-md'></i>
    </button>
    <div class="collapse navbar-collapse ul-bg" id="btn">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#"class="nav-link mx-3 text-white fs-5">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('about')}}" class="nav-link mx-3 text-white fs-5">About</a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('card')}}" class="nav-link mx-3 text-white fs-5">Gallery</a>
        </li>
      </ul>
        
    </div>
  </nav>
  <div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h6 class="display-1 text-white">Welcome to</h6>
                <h1 class="text-white my-3">Used Car Price Prediction!</h1>
                <a href="{{url_for('index')}}" class="btn me-2 btn-primary">Get Price</a>
            </div>
        </div>
    </div>
  </div>



  <footer>
    <div class="py-4 bg-dark text-gray-300">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-15 text-center text-md-strat">
            <p class="text-sm text-center text-white mb-md-0">2022@MINIPROJECT-ITS307</p>
          </div>
        </div>
      </div>
    </div>
</footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  </body>
</html>