
<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Used Car Price Prediction</title>
  </head>
  <body>
    <div class="img" style="background-image: url(static/images/b.jpg);"></div>
    <nav class="navbar navbar-expand-md bg-dark">
      <a href="" class="navbar-brand fs-3 ms-3 text-white">Used Car Price Prediction</a>
    <button class="navbar-toggler me-3 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#btn">
      <i class='bx bx-menu bx-md'></i>
    </button>
    <div class="collapse navbar-collapse ul-bg" id="btn">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{{url_for('home')}}"class="nav-link mx-3 text-white fs-5">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('about')}}" class="nav-link mx-3 text-white fs-5">About</a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('card')}}" class="nav-link mx-3 text-white fs-5">Gallery</a>
        </li>
      </ul>   
    </div>
  </nav>
  <div class="container-fluid responsive">
                          
    <div>
        <p class="label" style="color: #ffff;">Gear Transmission Type:</p>
        <select name="transmission" id="transmission" class="custom-select mb-3">
            <option selected>Manual</option>
            <option value="Automatic">Automatic</option>
        </select>
    </div>
    <div>
        <p class="label" style="color: #ffff;">Fuel Type:</p>
        <select name="fuel" id="fuel" class="custom-select mb-3">
            <option selected>Diesel</option>
            <option value="Petrol">Petrol</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div>
    <p class="label" style="color: #ffff;">Number of previous owner:</p>
        <select name="owner" id="owner" class="custom-select mb-3">
            <option value="1" selected>One</option>
            <option value="2">Two</option>
            <option value="3">Three and above</option>
        </select>
    </div>
    <div>
        <p class="label" style="color: #ffff;">Year the car was brought:</p>
        <select name="year" id="year" class="custom-select mb-3">
            <option selected>2000</option>
            {% for year in range(2001,2023) %}
            <option value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label class="label mb-3" style="color: #ffff;" for="km_driven">Kilometers driven(Odometer):</label>
        <input name="km_driven" type="number" class="form-control" id="km_driven">
        <div id="fill" class="text-center text-danger pt-2"></div>
    </div>
    <p class="label" style="color: #ffff;">Estimated Price is:</p>
    <div class="input-group my-3">
        
        <input type="text" name="price" class="form-control form-control" placeholder="BTN 0.00" id="price">
      
        <div class="input-group-append">
            <button id="predict" class="btn btn-dark" style="color: #ffff;">Check Price</button> 
        </div>
    </div>
    <div id="wait" class="text-center mt-3">

    </div>
</div>

</div> 

</div>
  
  <footer>
    <div class="py-4 bg-dark text-gray-300">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-15 text-center text-md-strat">
            <p class="text-sm text-center text-white mb-md-0">2022@MINIPROJECT-ITS307</p>
          </div>
        </div>
      </div>
    </div>
</footer>
<script src="{{ url_for('static',filename='script.js') }}"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>





